doctype
html
  head
    title #{title}
    script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(crossorigin src="https://unpkg.com/@material-ui/core@4.11.0/umd/material-ui.production.min.js")
    body
      div(id="errors" style="background: #c00; color: #fff; display: none; margin: -20px -20px 20px; padding: 20px; white-space: pre-wrap;")
      div(id="root")
      script.
        window.addEventListener('click', function(e) {
          if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
            e.preventDefault();
          }
        });
        window.onerror = function(message, source, line, col, error) {
          var text = error ? error.stack || error : message + ' (at ' + source + ':' + line + ':' + col + ')';
          errors.textContent += text + '\n';
          errors.style.display = '';
        };
        console.error = (function(old) {
          return function error() {
            errors.textContent += Array.prototype.slice.call(arguments).join(' ') + '\n';
            errors.style.display = '';
            old.apply(this, arguments);
          }
        })(console.error);
    script(type="text/jsx" src="/js/app.jsx")
