doctype
html
  head
    title BeatMaker
    meta(name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width")
    script(crossorigin src="https://unpkg.com/react@16.13.1/umd/react.development.js")
    script(crossorigin src="https://unpkg.com/react-dom@16.13.1/umd/react-dom.development.js")
    script(crossorigin src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")
    script(crossorigin src="https://unpkg.com/@material-ui/core@4.11.0/umd/material-ui.production.min.js")
    script(crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.3.1/Tone.min.js")
    script(crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/scribbletune/1.9.4/scribbletune.js")
    body
      div(id="root")
      script.
        window.files = !{mp3s};
        window.addEventListener('click', function(e) {
          if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
            e.preventDefault();
          }
        });
    script(type="text/jsx" src="/static/js/instruments.jsx")
    script(type="text/jsx" src="/static/js/controls.jsx")
    script(type="text/jsx" src="/static/js/grid.jsx")
    script(type="text/jsx" src="/static/js/app.jsx")
